:root{
--main-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3), 
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
--main-background:linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
--main-position:relative;
--main-display:flex;
}

body{
    padding:0;
    margin:0;
    font-family:'Nunito', sans-serif;
}
/*navbar*/
nav{
    list-style-type:none;
    padding:0;
    overflow:hidden;
    background:var(--main-background);
    box-shadow:var(--main-box-shadow);
}
li{
    float:right;
}
li a{
    display:block;
    color:#38f9d7;
    text-align:center;
    padding:16px 20px;
    text-decoration:none;
    font-size:20px;
}
li a:hover{
    background-image:linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    color:black;
}
.special{
    position:var(--main-position);
    left:15px;
    float:left;
    padding:10px;
    font-size:30px;
    color:#c471f5;
}

 /*Slides*/
.img{
    position:var(--main-position);
    width:500px;
    height:300px;
    box-shadow:var(--main-box-shadow);
    margin:50px auto 0 auto;
    display:none;
    border-radius:20px;
}
.flex{
    display:var(--main-display);
    justify-content:center;
}
.circle{
    position:var(--main-position);
    width:30px;
    height:30px;
    border-radius:50%;
    background:gray;
    cursor:pointer;
    margin:10px;
}
.circle:hover{
    background:blue;
}
/*content*/
.misi{
    display:var(--main-display);
    justify-content:center;
    flex-wrap:nowrap;
}
.abt{
     position:var(--main-position);
     height:180px;
     width:600px;
     background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
     box-shadow:var(--main-box-shadow);
     color:white;
     margin:50px;
     padding:25px 15px;
 }
.content{
    display:var(--main-display);
    overflow-x:scroll;
    flex-wrap:nowrap;
    cursor: pointer;
} 
.content::-webkit-scrollbar{
    width:12px;
    height:12px;
    cursor:pointer;
}
.content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white;
    border-radius:10px;
}
.content::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 10px white;
    border-radius:10px;
    box-shadow: inset 0 0 20px blue;
}
.desc{
    flex:0 0 auto;
    width:250px;
    height:300px;
    background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
    color:black;
    font-size:20px;
    margin:20px;
    padding:8px;
    border:2px solid lightgray;
    border-radius:10%;
}
.lvl2{
    display:var(--main-display);
    width:700px;
    margin:auto;
    padding:30px;
 }
.coming{
    padding:10px;
    width:500px;
    margin:auto;
}
footer{
    width:100%;
    height:200px;
    background:var(--main-background);
    text-align:center;
}
@media screen and (max-width:600px){
    li,.special{
        float:none;
        color:black;
    }
    .img{
        width:300px;
        height:200px;
    }
    .misi{
        display:block;
    }
    .abt{
        height:250px;
        width:400px;
        right:20px;
    }
    .lvl2{
        display:block;
        margin:auto;
        width:400px;
    }
    .coming{
        width:400px;
    }
    .fut{
        position:relative;
        left:40px;
    }
 }